.venv
.git
.vscode
.adk
__pycache__
**/__pycache__
*.pyc

frontend
frontend_web/node_modules
frontend_web/dist

data/.cache_embeddings
data/Av
data/*.csv
data/foods_table.xls

reports
tests
train_models

.env
.env.*
google_client_secrets.json

*.drawio
*.drawio.bkp
*.drawio.dtmp
*.drawio.png
